<body>
<div id="divWeatherMain">
  <ng-container *ngIf="WeatherData.isDay; else nightIcon">
    <div class="weatherWidgetRow">
      <i class="fas fa-3x fa-sun sun"></i>
    </div>
  </ng-container>
  <ng-template #nightIcon>
    <div class="weatherWidgetRow">
      <i class="fas fa-3x fa-moon moon"></i>
    </div>
  </ng-template>
  <div class="weatherWidgetRow cloudDiv">
    <i class="fas fa-cloud fa-3x cloud"></i>
  </div>
  <p class="temperature">{{WeatherData.tempCelcius | number:'1.0-0'}}°</p>
  <p class="weatherWidgetRow">{{WeatherData.tempMin| number:'1.0-0'}}° / {{WeatherData.tempMax | number:'1.0-0'}}°</p>
  <p class="weatherWidgetRow">Feels Like: {{WeatherData.tempFeelsLike | number:'1.0-0'}}°</p>
  <h2 class="weatherDataName">{{WeatherData.cityName}}</h2>
  <p class="weatherWidgetRow">Humidity: {{WeatherData.humidity}}%</p>
  <div class="search">
    <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Search city" formControlName="name">
    </form>
  </div>
</div>
</body>

