.dialogContainer{
  width: 100%;
  height: 100%;
  position: relative;
}

.fixedButton{
  position: absolute;
  bottom: 10%;
  right: 3%;
  z-index: 1;
}

.sticker{
  background-color: orange;
  width: 250px;
  height: 150px;
  border: solid black 3px;
  margin-top: 20px;
}
