body{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(113,9,121,1) 35%, rgba(41,30,117,1) 100%);
}

.dialogContainer{
  width: 100%;
  height: 100%;
  position: absolute;
}

.fixedButton{
  position: absolute;
  bottom: 10%;
  right: 3%;
  z-index: 1;
}

.sticker{
  position: relative;
  background-color: orange;
  width: 250px;
  height: 150px;
  border: solid black 3px;
  margin-bottom: 20px;
}
